.app {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app.app--chat:not(.app--chat-no-active)::after {
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 340px;
  background: linear-gradient(to bottom, transparent 0%, #fff 35%);
  pointer-events: none;
  z-index: 1;
}
