.app-layout {
  min-height: 100vh;
  background-color: #fff;
}

.app-layout__main {
  position: relative;
  min-height: calc(100vh - 72px);
}

.app-layout__backdrop {
  position: fixed;
  top: 72px;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0 0 0 / 0.35);
  z-index: 5;
}