.app-layout {
  min-height: 100vh;
  background-color: #fff;
}

.app-layout__main {
  position: relative;
  min-height: calc(100vh - 72px);
  width: min(100%, 1440px);
  margin-inline: auto;
}

.app-layout__backdrop {
  display: none;
}

@media (max-width: 1200px) {
  .app-layout__backdrop {
    display: block;
    position: fixed;
    top: 47px;
    inset-inline: 0;
    bottom: 0;
    background: rgb(0 0 0 / 0.3);
    z-index: 99;
  }
}