.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  padding: 0 32px;
  background-color: #fff;
}

.header__logo {
  display: block;
  width: 98.7px;
  height: 26px;
  opacity: 1;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__link {
  color: #555;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.header__link--active {
  color: #1c1c1c;
}

.header__link--chat-active {
  background: #9679d933;
  border-radius: 4px;
  width: 64px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  height: 36px;
}
