.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 72px;
  padding: 0 32px;
  background-color: #fff;
}

.header__logo {
  display: block;
  width: 98.7px;
  height: 26px;
  opacity: 1;
}

.header__menu-btn {
  display: none;
  width: 24px;
  height: 24px;
  background-image: url('../../assets/hamburgerbutton.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.header__menu-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: auto;
}

.header__link {
  color: #555;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.header__link--active {
  color: #1c1c1c;
}

.header__link--chat-active {
  background: #9679d933;
  border-radius: 4px;
  width: 64px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  height: 36px;
}

@media (min-width: 1201px) {
  .header__menu-btn {
    display: none !important;
  }

  .header__nav {
    display: flex !important;
    position: static;
    margin-left: auto;
  }
}

@media (max-width: 1200px) {
  .header {
    justify-content: flex-start;
    gap: 11.99px;
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
  }

  .header__menu-btn {
    display: block;
  }

  .header__logo {
    margin-left: 0;
  }

  /* Nav is hidden by default on mobile */
  .header__nav {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 255px;
    height: 164px;
    gap: 7px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 101;
    display: none;
    border-top: 1px solid rgb(28 28 28 / 30%);
    background-color: #fff;
    justify-content: flex-start;
    padding-left: 12px;
    box-sizing: border-box;
  }

  /* Shown when the menu is open */
  .header__nav_mobile {
    display: flex;
  }
}
